<div class="container card">
  <div class="card-body">
    <h4 class="card-title text-center">More Information</h4>
      <%= render partial: 'bio' %>
  </div>
  <div class="card-body">
    <h6 class="card-title text-center">Check Off Your Speciality:</h6>
      <%= render partial: 'speciality' %>
  </div>
  <div class="card-body">
    <h6 class="card-title text-center">Your availablilty:</h6>
      <%= render partial: 'weekdays' %>
  </div>
</div>
