* {
  font-family: 'Roboto', sans-serif;
}

body {
  height:100%;
  background: linear-gradient(to bottom right,  #5a302f , black);
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
}

label, h3{
  color: white;
  font-size: 18px;
}

.first-header {
  font-family:  'Viga', sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 50px;
}
.jumbo-container {
  background-image: url('https://i.imgur.com/0rf0hmD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron-fluid {
  background: none;
}

.book-btn, .view-profile{
  float: right;
}

.user-bio {
  background-color: white;
  margin-top: 30px;
  font-weight: 300;
  color: black;
  border: 1px solid #E1E4E9;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  text-align: left;
  max-wid: 100%;
}

table{
    table-layout: fixed;
    width: 100%;
}

input[type=radio] {
  color: white;
}

.navbar {
  margin-top: 0 auto;
}

ul {
  margin-left: -40px;
}

li {
  list-style-type: none;
}


.btn:hover {
  color: white;
}

.book-btn {
  background-color: #381D2A;
  border-radius: 5px;
}

.view-profile {
  background-color: #5E0B15;
  border-radius: 5px;
}

.search-container {
  width: 100%;
  position: relative;
  &:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-family: 'FontAwesome';
    content: '\f002';
    background: $color;
    text-align: center;
    color: $iconColor;
    border-radius: 5px;
    -webkit-font-smoothing: subpixel-antialiased;
    font-smooth: always;
  }
}
.searchbar {
  border: 1px solid #E1E4E9;
  box-shadow: 0 -2px #f3f3f3 inset;
  @include box-sizing(border-box);
  width: 100%;
  border: 5px solid $color;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border-bottom: 2px solid #c18f74;
}

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -60px;
  right: -15px;
}

.search-input {
  color: #7D6962;
  border: 0;
  border-style: none;
  /* background: none; */
  border-bottom: 2px solid #c18f74;
  transition: border 300ms ease-in-out;
  width: 50%;
  padding: 0.5em 0;
  border-radius: 5px;
}

.radio-label {
  color: white;
  margin-left: 5px;
}

table td {
  font-size: 16px;
  font-family: 'Abel', sans-serif;
}
