.navbar {
  margin: 0 auto;
}

.container {
  background-image: url('https://i.imgur.com/0rf0hmD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 0;
  width: 100%;
}

* {
  font-family: 'Roboto', sans-serif;
}
.user-bio {
  border: 1px solid #E1E4E9;
  padding: 20px;
  border-radius: 6px;
  margin: 0 auto;
}

li {
  list-style-type: none;
}

input[type=text]:hover {
    border-bottom: 2px solid #000;
    color: #000;
}

input[type=text] {
  border-style: none;
  width: 50%;
}

.btn:hover {
  color: white;
}

.book-btn {
  background-color: #381D2A;
  border-radius: 5px;
}

.view-profile {
  background-color: #5E0B15;
  border-radius: 5px;
}
