* {
  font-family: 'Roboto', sans-serif;
}

.jumbo-img {
  position: relative;
  top: -80px;
}

body{
  height:100%;
  background: linear-gradient(to bottom right,  #5a302f , black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  vertical-align: middle;
  margin-left:auto;
  margin-right:auto;
}




.event-label, .moto-header{
  color: white;
  font-size: 18px;
}


.jumbo-container {
  background-image: url('https://i.imgur.com/0rf0hmD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }

.jumbotron-fluid {
  height: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: linear-gradient(#434343 , #000000);
}

.book-btn, .view-profile{
  float: right;
}

#user-bio {
  position: relative;
  font-size: 20px;
  margin-left: 0 auto;
  top: -150px;
  margin-bottom: 20px;
  background-color: white;
  font-weight: 500;
  color: black;
  border: 1px solid #E1E4E9;
  padding: 30px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 50%;
  width: 50%;
  text-align: left;
  margin-left: 50px;
 }

.bartender-table {
    table-layout: fixed;
    width: 100%;
 }

input[type=radio] {
  color: white;
}

.navbar {
  margin-top: 0 auto;
}

.ul {
  margin-left: -50px;

 }

.li {
  list-style-type: none;
  margin-right: 20px;
  text-align: center;
}

.btn:hover {
  color: white;
 }

.book-btn {
  background-color: #381D2A;
  border-radius: 5px;
 }

.view-profile {
  background-color: #5E0B15;
  border-radius: 5px;
}

.searchbar {
  position: relative;
  top: -500px;
  font-size: 16px;
}

.book-btn, .view-profile {
  text-align: center;
}

.search-container {
  width: 60%;
  position: relative;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'FontAwesome';
  content: '\f002';
  text-align: center;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
}

.searchbar {
  display: block;
  margin-right: auto;
  opacity: 0.9;
  margin-left: auto;
  border: 1px solid #E1E4E9;
  box-shadow: 0 -2px #f3f3f3 inset;
  width: 70%;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border-bottom: 2px solid #c18f74;
  margin-bottom: 100px;
  float: center;
}


.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -660px;
  right: -10px;
  left: -120px;
}

.filter {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.search-input {
  border: 3px solid green;
  color: black;
  font-size: 16px;
  border: 0;
  width: 50%;
  border-style: none;
  border-bottom: 2px solid #c18f74;
  transition: border 300ms ease-in-out;
  width: 80%;
  padding: 0.5em 0;
  border-radius: 5px;
 }

.close-button {
   background-color: #ad5e29;
   border-radius: 5px;
   float: right;
 }

.radio-label {
  color: white;
  margin-left: 5px;
}

.bartender-table .bio-table {
  font-size: 20px;
  line-height: 1.6;
  font-family: 'Do Hyeon', sans-serif;
  margin-left:auto;
  margin-right:auto;
}

h1.first-header {
  color: #A9ADB0;
}

.first-header {
  position: relative;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  top: -80px;
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}

.filter-dropdown {
  background-color: #3c3b3f;
  color: white;
  font-size: 18px;
}

.filter-items {
  background-color: #381D2A;
}

.filter-dropdown:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.filter-items div,.filter-dropdown {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.moto-header {
  text-align: center;
  position: relative;
  top: -80px;
  font-size: 20px;
}

.form .filter {
 position: relative;
 top: -270px;
 left: 50px;
}

.bartender-table {
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;

}

.table-row {
  text-align: left;
}


#spilled-drink {
	background-image: url(../images/spilled-drink.jpg);
}