* {
  font-family: 'Roboto', sans-serif;
}

.jumbo-img {
  position: relative;
  top: -70px;
}

body {
  height:100%;
  background: linear-gradient(to bottom right,  #5a302f , black);
  background-repeat: no-repeat;
  margin: 0;
  background-attachment: fixed;
}

label, h3{
  color: white;
  font-size: 18px;
}


.jumbo-container {
  background-image: url('https://i.imgur.com/0rf0hmD.jpg');
  background-repeat: no-repeat;
  background-size: cover;
 }

.jumbotron-fluid {
  height: 100%;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  background: linear-gradient(#434343 , #000000);
}

.book-btn, .view-profile{
  float: right;
}

.user-bio {
  background-color: white;
  margin-top: 30px;
  font-weight: 300;
  color: black;
  border: 1px solid #E1E4E9;
  padding: 20px;
  border-radius: 6px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 100%;
  text-align: left;
  max-wid: 100%;
 }

table {
    table-layout: fixed;
    width: 100%;
 }

input[type=radio] {
  color: white;
}

.navbar {
  margin-top: 0 auto;
}

ul {
  margin-left: -40px;
 }

li {
  list-style-type: none;
}

.book-btn, .view-profile {
  float: right;
 }

.btn:hover {
  color: white;
 }

.book-btn {
  background-color: #381D2A;
  border-radius: 5px;
 }

.view-profile {
  background-color: #5E0B15;
  border-radius: 5px;
}

.searchbar {
  position: relative;
  top: -500px;
}

.search-container {
  width: 60%;
  position: relative;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: 'FontAwesome';
  content: '\f002';
  text-align: center;
  border-radius: 5px;
  -webkit-font-smoothing: subpixel-antialiased;
}


.searchbar {
  display: block;
  margin-right: auto;
  opacity: 0.9;
  margin-left: auto;
  border: 1px solid #E1E4E9;
  box-shadow: 0 -2px #f3f3f3 inset;
  width: 70%;
  padding: 5px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border-bottom: 2px solid #c18f74;
  margin-bottom: 100px;
  float: center;
}

.search-icon{
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -60px;
  right: -15px;
}

.filter {
  display: inline-block;
  width: 30%;
  text-align: center;
}

.search-input {
  color: #7D6962;
  font-size: 16px;
  border: 0;
  width: 50%;
  border-style: none;
  border-bottom: 2px solid #c18f74;
  transition: border 300ms ease-in-out;
  width: 80%;
  padding: 0.5em 0;
  border-radius: 5px;
 }

.close-button {
   background-color: #ad5e29;
   border-radius: 5px;
   float: right;
 }

.radio-label {
  color: white;
  margin-left: 5px;
}

table td {
  font-size: 20px;
  line-height: 1.6;
  font-family: 'Do Hyeon', sans-serif;
}

.first-header {
  color: white;
  font-family: 'Viga', sans-serif;
  text-transform: uppercase;
  font-size: 50px;
}
