 html,
 body,
 header,
 #intro {
     height: 100%;
 }
.container {
height: 120px;
}
nav {
  margin-top: 0.1%;
}
.nav-link {
  color: white;
}
.navbar-toggler-icon {
  background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
a {
  color: white;
}
.btn-elegant {
  font-size: 15px;
}
/*================== Home Page CSS Start =============== */
#h2-home {
  font-family: 'Franklin Gothic Medium';
  font-size: 50px;
  text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
  font-family: 'Franklin Gothic Medium';
  font-size: 50px;
}
#h4-home {
  font-family: 'Franklin Gothic Medium';
  font-size: 15px;
  text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
 video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url('bartender.mp4')center;
  background-size: cover;
  transition: 1s opacity;
}
/* =========== Home Page CSS End  ================ */
/* ============ Media Queries Start==================== */
 .top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
/*  ============= Media Queries End ====================== */
select#rating option[value="5"]  {
   background-image: url(images/drink-glass-5.png);
 }