.more-info {
    background: url("old-fashioned.jpg") fixed;
    background-size: cover;
    background-position: center;
}

.edit-bartender-form {
    padding: 30px;
    display:flex;
}

.nav-cocktail {
    padding: 75px;
}

.form-control {
    height: 40px;
    background-size: 100%;
    font-size: 20px;
}

/* .card {
    margin-bottom: 50px;
    margin-top: 20px;
} */

.card-body {
    /* overflow-y:scroll; */
    /* position: relative; */
    width:100%;
    padding: 1.5rem;
}

div.container.card {
    padding: 20px;
    height: auto;
    width: 50%;
    color:orange;
    font-weight: bold;
}

.types {
    color: rgba(170, 77, 0, 0.473);
    display:flex;
    justify-content: center;
    flex-direction: column;    
}

.type label {
    font-size:15px;
    padding: 5px;
}

.md-form {
    position: static;
    margin-top: 1.5rem;
    margin-bottom: 1.0rem;
    font-size: 10px;
}
.md-form label {
    display: flex;
    justify-content: space-evenly;
    position: static;
    padding: 0.5rem;
    font-size: 10px;
} 

.days {
    display: flex;
    justify-content: center;
    padding: 0.1rem;
}

.submit-btn {
    margin-top:30px;
}