@import bootstrap;


/* Body Start ================ */

.more-info {
    background: url("old-fashioned.jpg") center fixed;
    background-size: 100%;

}
/* Body Finish =============== */


/* More Information Form Start ============= */
.form-control {
    height: 40px;
    background-size: 100%;
}
/* Body Finish =============== */


/* More Information Form Start ============= */
.form-control {
    height: 40px;
}

.card {
    margin-bottom: 50px;
    margin-top: 20px;
}

.card-body {
    overflow-y:scroll;
    position: relative;
    width:100%;
    padding: 1.5rem;
}
/* More Information Form Finish ============ */


/* Form */
.edit-bartender-form {
    padding-top: 50px;
    margin-top:100px;
}

.md-form {
    position: static;
    margin-top: 1.5rem;
    margin-bottom: 1.0rem;
}
.md-form label {
    display: inline-block;
    position: static;
    padding: 1.5rem;
    font-size: 1rem;
}

/* Rows of Text */
.col-md-4 {
    padding:5;
}

.days-of-week {
    display: inline-block;
    position: relative;
}
.days {
    display: flex;
    justify-content: center;
    padding: 0.1rem;
}



/* Media Queries */
/* @media (min-width: 992px)
.col-lg-4 {
    max-width: 33.33%;
} */


.types-of-bartenders {
    display: block;
    padding: 0.5rem;

    /* padding: 0.5px; */


}

#changing-text-one{
    color:orange;
    font-weight: bold;

}


#changing-text{
    color:orange;

}

#move-stuff {
    margin-top: 50px;
}


#padding-pic {
    padding: 10px;
}
