.more-info {
    background: url("old-fashioned.jpg") center fixed;
    background-size: 100%;
    
}
.bform {
    width: 100%;   
}

.days-of-week {
    display: inline-block;
    position: relative;
}

.md-form label {
    display: inline;
    position: static;
}

.col-md-4 {
    padding:0
}
