.background-signing-in-up {
    background: linear-gradient(to right,  #5a302f , black);
}

#log-in-up-text{

    color:orange;
}


 #hitler {
    /* background:
    linear-gradient(
        white,
        orange); */
    box-shadow: 5px 10px #AD5E29;
} 