
.background-signing-in-up {
    background: linear-gradient(black, #5a302f , #AD5E29);
    /* display: flex; */
    height: 100vh;
    justify-content: center;
    align-items: center;
   


}

#log-in-up-text{

    /* text-shadow: 0 1px orange; */
 

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 20px;
    font-weight: bold;
    color: orange;
    font-size: 40px;
    margin-right: 500px;
    
    /* background: #27ae60; */
    /* border-radius: 10px 10px 0 0; */
}






  #card-form-in{
    display: inline-block;

    margin-top: 60px;
    width: 700px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
    vertical-align: middle;
  }

  #card-form-up{
    margin-top: 25px;
    width: 700px;
    height: 710px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

  }


  #form-contain{
      padding: 3px;


    }
    #row {
        display: flex;
        justify-content: space-around;
        padding: 3px;


      }


     #input{
          appearance: none;
          width: 100%;
          margin: 0 15px;
          height: 35px;
          padding: 5px 10px;
          border-radius: 5px;
          outline: none;
          border: none;
          background: #e8ebed;
          color: #576366;
          font-size: 10px;
        }

        #check-boxes {
            display: inline-block;
            position: relative;

        }
