* {
  font-size: 30px;
}

.background-signing-in-up {
    background: linear-gradient(black, #5a302f , #AD5E29);
    /* display: flex; */
    height: 100vh;
    justify-content: center;
    align-items: center;



}

#log-in-up-text{

    /* text-shadow: 0 1px orange; */


    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    font-size: 40px;
    font-weight: bold;
    color: orange;
    font-size: 40px;
    margin-right: 500px;

    /* background: #27ae60; */
    /* border-radius: 10px 10px 0 0; */
}


#login-form {

  display:flex;
  justify-content: center;
}



#card-form-in{
	/* display: inline-block; */
	/* position:fixed; */
/* left: 10%; */
  /* right: 70%; */
	left: 5%;
	margin-top: 200px;
	/* margin-left: -26%; */
	width: 1000px;
  height: 650px;
	border-radius: 10px;
	background: white;
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
	/* vertical-align: middle; */
}

#card-form-up{
	/* position:fixed; */
	/* right:30%; */
	/* margin-top: 0.5px; */
	margin-top: 100px;
	width: 800px;
	height: 1100px;
	border-radius: 10px;
	background: white;
	box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);
}

#mixologist {
  margin-left: -10%;
}

input[type=checkbox] {
  transform: scale(2);
}


#form-contain{
  padding: 1px;


}

#row {
	display: flex;
	justify-content: space-around;
	padding: 4px;
}


#input{
	appearance: none;
	width: 100%;
	margin: 0 15px;
	height: 40px;
	padding: 5px 10px;
	border-radius: 3px;
	outline: none;
	border: none;
	background: #e8ebed;
	color: #576366;
	font-size: 40px;
}

#check-boxes {
	display: inline-block;
	position: relative;
}




/*
        #movingLinks{

          position:fixed;
          left: 44.5%;

        } */


        /* #movingLinkstwo{ */

          /* position:fixed;
          left: 51.5%; */
        /* } */
