html,
body,
header,
#intro {
    height: 100%;
}

.container {
height: 120px;
}

nav {
 margin-top: 0.1%;
}

.nav-link {
 color: white;
}

.navbar-toggler-icon {
 background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}

a {
 color: white;
}

#h2-home {
 font-family: 'Franklin Gothic Medium';
 font-size: 50px;
 text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
 font-family: 'Franklin Gothic Medium';
 font-size: 50px;
}

#h4-home {
 font-family: 'Franklin Gothic Medium';
 font-size: 15px;
 text-shadow:
   -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
   1px 1px 0 #000;
}

#sign-in-btn {
	background: transparent;
	border-color: rgb(243, 172, 18);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right:15px;
	font-size: 19px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 10px;
	transition: all .5s;
}
#sign-in-btn:hover,
#sign-in-btn:visited,
#sign-in-btn:active {
	background-color: rgb(243, 172, 18);
	color: #fff;
}

#search-btn {
	background: transparent;
	border-color: rgb(243, 172, 18);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right:15px;
	font-size: 19px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 10px;
	transition: all .5s;
}

#search-btn:hover,
#search-btn:visited,
#search-btn:active {
	background-color: rgb(243, 172, 18);
	color: #fff;
}



.btn-elegant {
 font-size: 15px;
}

video {
 position: fixed;
 top: 50%;
 left: 50%;
 min-width: 100%;
 min-height: 100%;
 z-index: -100;
 transform: translateX(-50%) translateY(-50%);
 background: url('bartender.mp4')center;
 background-size: cover;
 transition: 1s opacity;
}

section {
	width:100%;
	min-height:1000px;
	background:white;
}

.top-nav-collapse {
   background-color: #24355C;
 }
 @media (max-width: 768px) {
   .navbar:not(.top-nav-collapse) {
     background-color: #24355C;
   }
 }
 @media (min-width: 800px) and (max-width: 850px) {
   .navbar:not(.top-nav-collapse) {
     background-color: #24355C;
   }
 }


select#rating option[value="5"]  {
  background-image: url(images/drink-glass-5.png);

}

/*================== Home Page CSS Start =============== */
#h2-home {
 font-family: 'Franklin Gothic Medium';
 font-size: 50px;
 text-shadow:
       -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
 font-family: 'Franklin Gothic Medium';
 font-size: 50px;
}
#h4-home {
 font-family: 'Franklin Gothic Medium';
 font-size: 15px;
 text-shadow:
       -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
}



/* ========== Testimonials ========== */
.testimonial {
	background-image: url("../images/testimonial-bg.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;;
	background-size: cover;
	background-position: 50% 50%;
}

.testimonial-overlay {
	/* background-color: rgba(31, 31, 31, .75); */
	padding-top: 80px;
	padding-bottom: 80px;
}

ol.carousel-indicators {
	bottom: -10px;
}

.carousel-inner .item img {
	border: 2px solid #129CF3;
	border-radius: 50%;
	padding: 3px;
} 

.testimonial-caption {
	padding-bottom: 70px;
}

.testimonial-caption h2 {
	color: #129CF3;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 30px;
	margin-top: 25px;
}

.testimonial-caption h4 {
	color: #129CF3;
}

.testimonial-caption h4 span {
	color: #D8D8D8;
	font-style: italic;
	font-weight: 300;
}

.testimonial-caption p {
	color: #D8D8D8;
	font-size: 18px;
	line-height: 27px;
	padding-top: 50px;
}





/* ============ Media Queries Start==================== */
.top-nav-collapse {
   background-color: #24355C;
 }
 @media (max-width: 768px) {
   .navbar:not(.top-nav-collapse) {
     background-color: #24355C;
   }
 }
 @media (min-width: 800px) and (max-width: 850px) {
   .navbar:not(.top-nav-collapse) {
     background-color: #24355C;
   }
 }
/*  ============= Media Queries End ====================== */
select#rating option[value="5"]  {
  background-image: url(images/drink-glass-5.png);
}
