
html,
body,
header,
#intro {
    height: 100%;
}

.container {
height: 120px;
}

.logo-home {
  width: 50%;
  display: flex; 
   justify-content: center;
  size: 50px;
}
/* 
nav {
 margin-top: 0.1%;
} */

.nav-link {
 color: white;
}

.navbar-toggler-icon {
 background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}


.navbar-brand {
  display: flex;
  justify-content: flex-start;
  size: '30x30';
 }


.card-body {
  width: 100%;
}

 
a {
 color: white;
}


#sign-in-btn {
	background: transparent;
	border-color: rgb(243, 172, 18);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right:15px;
	font-size: 19px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 10px;
	transition: all .5s;
}
#sign-in-btn:hover,
#sign-in-btn:visited,
#sign-in-btn:active {
	background-color: rgb(243, 172, 18);
	color: #fff;
}

#search-btn {
	background: transparent;
	border-color: rgb(243, 172, 18);
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right:15px;
	font-size: 19px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 10px;
	transition: all .5s;
}

#search-btn:hover,
#search-btn:visited,
#search-btn:active {
	background-color: rgb(243, 172, 18);
	color: #fff;
}



.btn-elegant {
 font-size: 15px;
}

video {
 position: fixed;
 top: 50%;
 left: 50%;
 min-width: 100%;
 min-height: 100%;
 z-index: -100;
 transform: translateX(-50%) translateY(-50%);
 background: url('bartender.mp4')center;
 background-size: cover;
 transition: 1s opacity;
}


.top-nav-collapse {
   background-color: #24355C;
 }
 @media (max-width: 768px) {
   .navbar:not(.top-nav-collapse) {
     background-color: #24355C;
   }
 }
 @media (min-width: 800px) and (max-width: 850px) {
   .navbar:not(.top-nav-collapse) {
     background-color: #24355C;
   }
 }


select#rating option[value="5"]  {
  background-image: url(images/drink-glass-5.png);

}

/*================== Home Page CSS Start =============== */

.h2-home {
 color: white;
 font-family: 'Franklin Gothic Medium';
 font-size: 50px;
 text-shadow:
       -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
 font-family: 'Franklin Gothic Medium';
 font-size: 50px;
}
.h4-home {
 color: white;
 font-family: 'Franklin Gothic Medium';
 font-size: 15px;
 text-shadow:
       -1px -1px 0 #000,
       1px -1px 0 #000,
       -1px 1px 0 #000,
       1px 1px 0 #000;
}



/* ========== Features ========== */
section {
	width:100%;
	min-height:480px;
	background:#fff;
}

section.features {
	padding-top: 100px;
}

.features {
	background: linear-gradient(black, #AD5E29, #3f2121);
	background-attachment: fixed;
	background-repeat: no-repeat;;
	background-size: cover;
	background-position: 50% 50%;
}

.features-overlay {
	/* background-color: rgba(31, 31, 31, .75); */
	padding-top: 40px;
	padding-bottom: 80px;
}

ol.carousel-indicators {
	bottom: 40px;
}

.carousel-inner .carousel-item img {
	border: 2px solid rgb(243, 172, 18);
	border-radius: 50%;
	padding: 3px;
} 

.features-caption {
	padding-bottom: 70px;
}

.features-caption h2 {
	color: rgb(243, 172, 18);
	text-transform: uppercase;
	font-weight: 900;
	font-size: 30px;
	margin-top: 25px;
}

.features-caption h4 {
	color: rgb(243, 172, 18);

}

.features-caption h4 span {
	color: Black;
	font-style: italic;
	font-weight: 300;
}

.features-caption p {
	color: Black;
	font-size: 18px;
	line-height: 27px;
	padding-top: 5px;
}

img.d-block.w-20 {
	margin-right: auto;
  margin-left: auto;
}

/* .carousel-inner {
	padding-top: 80px;
} */

a {
	transition: all .05s ease-in-out;
}

a.carousel-control-prev {
	 display: none;
 }

a.carousel-control-next {
	display:none;
}



/* ============ Media Queries Start==================== */
.top-nav-collapse {
   background-color: #24355C;
 }
 @media (max-width: 768px) {
   .navbar:not(.top-nav-collapse) {
     background-color: #24355C;
   }
 }
 @media (min-width: 800px) and (max-width: 850px) {
   .navbar:not(.top-nav-collapse) {
     background-color: #24355C;
   }
 }
/*  ============= Media Queries End ====================== */
select#rating option[value="5"]  {
  background-image: url(images/drink-glass-5.png);
}
